# Dependencies
node_modules/

# Build outputs
build/
dist/
lib/

# Gradle
.gradle/
local.properties

# Android
*.aab
*.apk
output-metadata.json
captures/
.externalNativeBuild/
.cxx/

# iOS
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
Pods/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.hmap
*.ipa

# IDE
*.iml
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
*.hprof

# Keystore
*.jks
*.keystore

# Misc
google-services.json
.env
.env.*

# Example app
example/node_modules/
example/.expo/
example/android/.gradle/
example/android/build/
example/android/app/build/
example/ios/Pods/
example/ios/build/
